<div class="logobak">
  <div class="content-wrapper">
    <p style="float: left;"><IMG alt="Contact Us"  style="height:110px;" src="/assets/images/logo.png"></p>
  </div>

    <div class="container"> 
        <div class="row">
            <ul id="menu"  class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active" routerLink="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/person">Edit People</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/event">Edit Events</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/email">Edit Email</a></li>
            </ul>
        </div>
    </div>
</div>

