<div class="logobak">
  <div class="content-wrapper">
    <p style="float: left;"><IMG alt="Contact Us"  style="height:110px;" src="/assets/images/logo.png"></p>
  </div>

    <div class="container"> 
        <div class="row">
            <ul id="menu"  class="nav nav-tabs">
            <li class="nav-item"><a (click)="setActive('home')" class="{{getActive('home')}}" routerLink="/">Home</a></li>
            <li class="nav-item"><a (click)="setActive('picture')" class="{{getActive('picture')}}" routerLink="/picture">View Photos</a></li>
            <li class="nav-item"><a (click)="setActive('person')" class="{{getActive('person')}}" routerLink="/person">Edit People</a></li>
            <li class="nav-item"><a (click)="setActive('event')" class="{{getActive('event')}}" routerLink="/event">Edit Events</a></li>
            <li class="nav-item"><a (click)="setActive('email')" class="{{getActive('email')}}" routerLink="/email">Edit Email</a></li>
            </ul>
        </div>
    </div>
</div>

