<div class="text-danger" *ngIf="message">{{message}}</div>
<div >closeResult={{closeResult}}</div>
<button ng-disabled="isAdmin" (click)="open(content,null);">Create Person</button>
<button type="button" class="btn btn-outline-dark" (click)="Login()">login</button>
<button type="button" class="btn btn-outline-dark" (click)="test()">test message</button>
<button type="button" class="btn btn-outline-dark" (click)="Logout()">logout</button>

<table class="table table-responsive table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th  style="cursor: pointer">
                    <app-tablecolumnfilter [ColumnName]="'Name'" [SelectedColumnName]="sortColumn" (onFilter)="filter($event);" (onSort)="sort($event);">Name</app-tablecolumnfilter>
            </th>
            <th  style="cursor: pointer">
                <app-tablecolumnfilter [RequiredLength]="8" [ColumnName]="'events[0].Date'" [SelectedColumnName]="sortColumn" (onFilter)="filter($event);" (onSort)="sort($event);">Birth Date</app-tablecolumnfilter>
            </th>
            <th  style="cursor: pointer">
                <app-tablecolumnfilter [ColumnName]="'Home Phone'" [SelectedColumnName]="sortColumn" (onFilter)="filter($event);" (onSort)="sort($event);">Home Phone</app-tablecolumnfilter>
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tr *ngFor="let aw of pagedItems">
      <td>{{aw.Name}}</td>
      <td>{{aw.events[0]!=null ? (aw.events[0].Date  | date) : "N/A"}}</td>
      <td>{{aw['Home Phone']!=null? aw['Home Phone'] : "N/A"}}</td>
      <td><button (click)="open(content, this.aw)" class="btn btn-primary btn-sm">Edit</button></td>
    </tr>
    <tr >
      <td colspan="4" style="text-align:right">
          <button ng-disabled="currentPage == 0" (click)="currentPage=currentPage-1; setPage();">
              Previous
          </button>
          {{currentPage+1}}/{{numberOfPages}}
          <button ng-disabled="currentPage >= numberOfPages - 1" (click)="currentPage=currentPage+1; setPage();">
              Next
        </button>
      </td>
    </tr>
</table>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Modal title</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form id="edit-book-form" action="/SSSCal/Person/HandlePopForm" class="container-fluid"> 
            <div class="row"> 
                    <div class="col-xs-6 col-sm-4">
                        <label class="label2" for="Name">Name</label>
                    </div>
                    <div class="col-xs-6 col-lg-8">
                            <input class="form-control" type="text" name="Name" id="Name" [(ngModel)]="selectedPerson.Name" /> 
                    </div>
                <input type="hidden" id="id" name="id" /> 
                <input type="hidden" id="Address_ID" name="Address_ID" /> 
            </div>  
            <div class="row"> 
                    <div class="col-xs-6 col-sm-4" >
                            <label  class="label2" for="Home_Phone">Home_Phone</label>
                    </div>
                    <div class="col-xs-6 col-lg-8" >
                            <input class="form-control" type="text" name="Home_Phone" id="Home_Phone"  [(ngModel)]="selectedPerson['Home Phone']" /> 
                    </div>
            </div>  
            <div class="row" > 
                <div class="col-xs-6 col-sm-4" >
                    <label  class="label2" for="E_Mail">Email Adress</label>
                </div>
                <div class="col-xs-6 col-lg-8" >
                    <input class="form-control" type="text" name="E_Mail" id="E_Mail"  [(ngModel)]="selectedPerson['E-Mail']" /> 
                </div>
            </div>  
             <div class="row"> 
                <div class="col-xs-6 col-sm-4" >
                        <label class="label2" for="type">Date of Birth</label>
                </div>
                <div class="col-xs-6 col-lg-8" >
                    <input class="form-control" type="date" name="DOB" id="DOB" [(ngModel)]="selectedPerson.events[0].Date" /> 
                </div>
            </div>  
            <div class="row"> 
                <div class="col-xs-6 col-sm-4" >
                    <label class="label2" for="Mobile">Mobile</label>
                </div>
                <div class="col-xs-6 col-lg-8" >
                    <input class="form-control" type="text" name="Mobile" id="Mobile" [(ngModel)]="selectedPerson.Mobile" /> 
                </div>  
            </div>  
            <div class="row"> 
                <div class="col-xs-6 col-sm-4" >
                    <label class="label2" for="Work">Work</label>
                </div>
                <div class="col-xs-6 col-lg-8" >
                    <input class="form-control" type="text" name="Work" id="Work" [(ngModel)]="selectedPerson.Work" /> 
                </div>  
            </div>  
            <div class="row"> 
                <div class="col-xs-6 col-sm-4" >
                    <label class="label2" for="Pager">Pager</label>
                </div>
                <div class="col-xs-6 col-lg-8" >
                    <input class="form-control" type="text" name="Pager" id="Pager" [(ngModel)]="selectedPerson.Pager" /> 
                </div>  
            </div>  
            <div class="row"> 
                    <hr />
            </div>  

                            
            <div class="row"> 
                <div class="col-xs-6 col-sm-4" >
                </div>
                <div class="col-xs-6 col-lg-8" >
                        <select class="form-control" id="cboAddress" name="cboAddress" [(ngModel)]="selectedAddress" (ngModelChange)="onChange($event)" >
                                <option *ngFor="let c of AddressList" [ngValue]="c" > {{c.Address}} </option>
                            </select>                            
                    </div> 
            </div> 
                
            <div class="row"> 
                <div class="col-xs-6 col-sm-4" >
                    <label class="label2" for="Address1">Address:</label>
                </div>
                <div class="col-xs-6 col-lg-8" >
                    <input class="form-control" type="text" name="Address1" id="Address1" [(ngModel)]="selectedAddress.Address" /> 
                </div> 
            </div> 

            <div class="row"> 
                <div class="col-xs-6 col-sm-4" >
                    <label class="label2" for="City">City:</label>
                </div>
                <div class="col-xs-6 col-lg-8" >
                    <input class="form-control" type="text" name="City" id="City" [(ngModel)]="selectedAddress.City" /> 
                </div> 
            </div> 
            <div class="row"> 
                <div class="col-xs-6 col-sm-4" >
                    <label class="label2" for="title">State:</label>
                </div>
                <div class="col-xs-6 col-lg-8" >
                    <input class="form-control" type="text" name="State" id="State" [(ngModel)]="selectedAddress.State" /> 
                </div> 
            </div> 
            <div class="row"> 
                <div class="col-xs-6 col-sm-4" >
                    <label class="label2" for="title">Zip:</label>
                </div>
                <div class="col-xs-6 col-lg-8" >
                    <input class="form-control" type="text" name="Zip" id="Zip" [(ngModel)]="selectedAddress.Zip" /> 
                </div> 
            </div> 
        </form> 
     </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Saving')">Save</button>
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
  
