<app-header></app-header>
<div id="sidebar"  [ngClass]="{'hide-sidebar': showSideBar, 'sidebar': !showSideBar}">
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link active" id="mainhome"  routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link"  routerLink="/person">Edit People</a></li>
        <li class="nav-item"><a class="nav-link"  routerLink="/event">Edit Event</a></li>
        <li class="nav-item"><a class="nav-link"  routerLink="/contacts">Contact</a></li>
        <li class="nav-item"><a class="nav-link"  routerLink="/calendar">Calendar</a></li>
    </ul>
</div>

<div id="mainwrapper" [ngClass]="{'hide-sidebar': showSideBar}" >
  <button type="button" (click)="onClickMe()" class="btn btn-outline-danger">Danger</button>
  <h2>Our MongoDB is Working!</h2>
  <ul>
    <li *ngFor="let user of users | slice:0:5">{{ user.Name }}</li>
  </ul>

  <router-outlet></router-outlet>
</div>