<div class="text-danger" *ngIf="message">{{message}}</div>

<div class="container" style="border: 3px solid blue;">
<div class="row justify-content-md-center">
        <select id="cboEvent" name="cboEvent"   [(ngModel)]="SelectedEvent" (ngModelChange)="onChange($event)">
              <option *ngFor="let e of EventDataList"   [ngValue]="e" [innerHTML]="e.DisplayOnly"></option>
          </select>
</div>
<div class="row">
        &nbsp;
</div>
<div class="row justify-content-md-center">
        <div class="col col-md-auto">People</div>
        <div class="col col-md-2"></div>
        <div class="col col-md-auto">Selected People</div>
    </div>
    <div class="row justify-content-md-center">
            <div class="col col-md-auto">
                <select #cboPeople multiple  size="15"   >
                        <option *ngFor="let p of UnSelectedEmailList" [value]="p._id" > {{p.Name}} </option>
                </select>                            
                              
            </div>
            <div class="col col-md-2">
                <div class="row justify-content-md-center">
                                <button (click)="Move2SELPople();" [disabled]="!isLoggedIn" class="btn btn-primary btn-sm"><i class="fa fa-angle-right"></i></button>
                </div>
                <div class="row justify-content-md-center">
                        &nbsp;
                </div>
                <div class="row justify-content-md-center">
                                <button (click)="Move2Pople();" [disabled]="!isLoggedIn" class="btn btn-primary btn-sm"><i class="fa fa-angle-left"></i></button>
                        </div>
                <div class="row justify-content-md-center">
                        &nbsp;
                </div>
                <div class="row justify-content-md-center">
                        <button [disabled]="SelectedEmailIDList.length == 0" *ngIf="isLoggedIn"  (click)="Save();" class="btn btn-primary btn-sm">Save</button>
                </div>
            </div>
            <div class="col col-md-auto">
                <select #cboSELPeople multiple  size="15"   >
                        <option *ngFor="let s of SelectedEmailList" [value]="s._id" > {{s.Name}} </option>
                </select>                            
            </div>
     </div>

</div>