/* You can add global styles to this file, and also import other style files */
#cboEvent, option {
    font-family: monospace, monospace;
}


@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .smallSCR {
        display: none;
    }
}


@media only screen and (max-width: 992px) {
    .medSCR {
        display: none;
    }
}
